<!DOCTYPE html>
<html lang="en" style="font-family:'Kumar One Outline', serif;">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous">
    </script>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balthazar&family=Fascinate+Inline&family=Handjet:wght@100..900&family=Kumar+One+Outline&family=Monofett&family=Oi&family=Pacifico&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<div style="background:lightskyblue; font-size:14pt;">
    <br>
    <header style="font-size:48pt;">
        <span style="text-align:center; border-style:solid; font-weight:bolder; padding: 20px 25px 0;background: black; color:white; box-shadow: -5px 5px black; margin: 10px;">W</span>
    </header>
    <nav>
        <!--hyperlink to profile-->
        <a href="/chat" class="fancybox"><strong>Chat</strong></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="login.html" class="fancybox"><strong>Login</strong></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="register.html" class="fancybox"><strong>Sign Up</strong></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="source.html" class="fancybox"><strong>Src Code</strong></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="references.html" class="fancybox"><strong>References</strong></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="about.html" class="fancybox"><strong>About Us</strong></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </nav>
</div>
    <div class="content"> {% block content %}{% endblock %} </div>
</body>
<footer>
    <a href="home.html"><br>Home<br></a>
    <a href="about.html"><br>About Us<br></a>
    <a href="source.html"><br>Source Code<br></a>
    <a href="chatHome.html>"><br>Rooms<br></a>
    <a href="references.html"><br>References<br></a>
    <a href="https://github.com/JacobB-qom/Senior-Project"><br>Github<br></a>
    <br>
</footer>
</html>