{% extends 'base.html' %}
{% block content %}
<div style="background:floralwhite; border-bottom: double; border-top: double; width: 100%; padding:30px;">
    <div style="text-align:center; font-weight:bold; font-family:'Press Start 2P', sans-serif;">Welcome to<br><br>
        <span style="font-weight:bolder; font-size:32pt;">~~Wavelength~~</span></div>
    <br><br>

    <div class="fancybox2">
        <h4>~Security~</h4>
        We provide your
        company a secure and streamlined
        way to communicate business-sensitive information
        with a lightweight and fast
        framework that uses encryption
        to secure your
        messages.
    </div>
    <div class="fancybox2">
        <h4>~Open Source~</h4>
        Our code is open source,
        inspired by the open source
        works of other companies.
    </div>
    <div class="fancybox2">
        <h4>~Simple~</h4>
        Do away with super complex applications,
        and embrace this brand new, homegrown
        application, made with love.
    </div>
    <div class="fancybox2">
        <h4>~Something else~</h4>
        This is mostly for troubleshooting.
        There's really nothing else to add here
    </div>
    <div class="fancybox2">
        <h4>~My Opinion~</h4>
        I came up with this design over a weekend,
        and I think it's pretty cool. Very visually
        appealing in my opinion.
    </div>
</div>
{% endblock %}