{% extends 'base.html' %}
{% block content %}
<div style="width:100%; height:100%; border-style:double; text-align:center; background: linen;">
    <div class="fancybox3" style="padding: 10px;box-shadow: -4px 4px black; width: 70%; height: 90%; margin: 10px;">
        <span style="font-size:10pt; text-shadow: -2px 2px violet">About Us</span><br>
        <p>
            Hello! This is Wavelength. This is a capstone project for three students in the Software Development major
            At the University of Central Missouri. Our goal for this project is to create a lightweight and fast secure
            messaging service. We are using Flask as our Web Framework, which works in tandem with Python, a fast and
            widely used programming language. Alongside Flask-SocketIO, and other open source software, we hope to provide
            something worthy of an 'A' to our department heads, who will be judging the caliber of our work. The web design
            I hope is pleasing to behold, with a retro feel that befits those who are heavily involved in the digital sphere.
            Now, obviously security is important, and so this application is meant for INTERNAL communication, where companies
            essentially use this messenger to communicate sensitive business information between other, high security status
            employees of the same company. The hope is that by implementing some sort of intra-server communication, further
            secured by encrypting and decrypting messages in transit, that this can be an application that is at least worth
            taking a look at. The information in the database, user and company information, will be hashed to ensure security of information.
            <br><br><br><br><br><br><br>NOW GO MAKE SOME<br><br><span style=" font-size: 18px; text-shadow:-2px 2px violet;">~~WAVES~~</span>

        </p>
    </div>
</div>
{% endblock %}