<!DOCTYPE html>
<html lang="en" style="font-family:'Kumar One Outline', serif;">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous">
    </script>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balthazar&family=Fascinate+Inline&family=Handjet:wght@100..900&family=Kumar+One+Outline&family=Monofett&family=Oi&family=Pacifico&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<div style="background: linen; font-size:14pt;">
    <br><br>
    <header style="font-size:46pt; transition: transform 2s;">
        <a href="/"><span style="text-align:center; font-weight:bolder; border-style: solid; border-width:2px; border-color: black; padding: 20px 25px 0;background: ghostwhite; color: black; box-shadow: -6px 6px black;">W</span></a>
    </header>
    <br>
    <nav class="fancybox3" style="text-shadow: -2px 2px lightgrey;">
        <!--hyperlink to profile-->
        <a href="/chat"><strong>Chat</strong></a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/login"><strong>Login</strong></a> &nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/register"><strong>Sign Up</strong></a> &nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/source"><strong>Src Code</strong></a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/references"><strong>References</strong></a> &nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/about"><strong>About Us</strong></a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/contact"><strong>Contact</strong></a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="https://github.com/ucmo-cs/s25-wavelength-messenger"><strong>GitHub</strong></a>
    </nav>
</div>
    <div class="content" style="height: 512px;"> {% block content %}{% endblock %} </div>
</body>
<footer class="fancybox3" style="margin-top:0; padding: 10px 0 10px 0;text-shadow: -2px 2px lightgray; display: inline-block; flex-direction: row;">
    <a href="/">Home</a>&nbsp&nbsp&nbsp&nbsp
    <a href="/about">About Us</a>&nbsp&nbsp&nbsp&nbsp
    <a href="/source">Source Code</a>&nbsp&nbsp&nbsp&nbsp
    <a href="/chat">Room</a>&nbsp&nbsp&nbsp&nbsp
    <a href="/references">References</a>&nbsp&nbsp&nbsp&nbsp
    <a href="/contact">Contact Us</a>&nbsp&nbsp&nbsp&nbsp
    <a href="https://github.com/JacobB-qom/Senior-Project">GitHub</a>
    <br>
</footer>
</html>