{% extends "base.html" %}
{% block content %}
<div style="background: linen; border-top:double; width: 100%; font-family: 'Press Start 2P', serif; padding-left: 20px;">
    <div style="text-align:center">
        <form class="fancybox" style="width:400px; height:100%;" method="post">
            <label>New Usnm: <input type="text" name="new_username"></label>
            <label>New Phne: <input type="text" name="new_phone"></label>
            <label>New Emal: <input type="text" name="new_email"></label>
            <input id="hov" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}