{% extends "base.html" %}
{% block content %}
<div style="background: linen; border-top:double; width: 100%; font-family: 'Press Start 2P', serif; padding-left: 20px;">
    <div style="text-align:center">
        <form class="fancybox" style="font-size: 10pt; width:300px; height:100%;" method="post">
            <label><span style="text-shadow: -2px 2px crimson">New Usnm: </span><input style="width:150px;" type="text" name="new_username"></label><br>
            <label><span style="text-shadow: -2px 2px red">New Phne: </span><input style="width:150px;" type="text" name="new_phone"></label><br>
            <label><span style="text-shadow: -2px 2px deeppink">New Emal: </span><input type="text" style="width:150px;" name="new_email"></label>
            <input style="text-shadow: -2px 2px hotpink" id="hov" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}