{% extends 'base.html' %}
{% block content %}
    <div style="border-top:double; border-bottom: double; width:100%; height: 100%; background: linen; text-align: center; padding-left:533px;">
    <form method="post" class="buttons">
    <h3 style="text-shadow: -2px 2px lightskyblue;">Enter the Chat Room</h3>
    <div class="join">
        <input type="text"
               placeholder="Pick a name"
               name="name"
               value="{{ name }}"
               class="name-name">
        <input type="text" placeholder="Room Code" name="code" value="{{ code }}" class="room-code"/>
        <button type="submit" name="join">Join a Room</button>
    </div>
    <button type="submit" name="create" class="create">Create a room</button>
    {% if error %}
        <ul>
            <li>{{ error }}</li>
        </ul>
    {% endif %}
    </form>
    </div>
{% endblock %}