{% extends 'base.html' %}
{% block content %}
    <!--The login page is written here. It will redirect either to the register page, or to the chat page-->
    <div style="background: linen; border-top:double; border-bottom: double; width: 100%; text-align:center; padding-left:500px;
    padding-top: 50px;" >
        <form method="POST" action="{{ url_for('login') }}" class="form2" style="width:400px; height:375px;">
            <span style="text-align:center;">
            <!--<form class="form2" style="width:400px; height:250px;">
                -->
                 <label style="text-shadow: -2px 2px gold; text-decoration: underline; font-size:14pt">Login Account</label>
            </span>
            <br><br>
            <!-- Display error message if any -->
            {% if error %}
                <div style="color: red; font-size: 10pt;">
                    <strong>{{ error }}</strong>
                </div>
                <br>
            {% endif %}
            <!-- Username input -->
            <label style="font-size: 9pt; text-shadow: -2px 2px gold;">User:
                <input type="text" name="username" placeholder="Username" required>
            </label>
            <br><br>
            <!-- Password input -->
            <label style="font-size: 9pt; text-shadow: -2px 2px gold;">Pswd:
                <input type="password" name="password" placeholder="Password" required>
            </label>
            <br><br>
            <!-- key-code input -optional for now -->
            <label style="font-size: 9pt; text-shadow: -2px 2px gold;">Code:
                <input type="text" name="key-code" placeholder="Key-code (optional)">
            </label>
            <br><br>
            <br>
            <label id="hov" style="transition: transform 1s; font-size: 9pt;"><input type="submit" value="Submit"></label>
            <br>
            <br>
            <!-- Link to registration page -->
            <div style="font-size: 7pt">
                Don't have an account?
                <br>
                <a id="hov" href="/register" style="transition: transform 1s; font-size: 7pt; width: 130px; padding:5px; margin:5px;
                box-shadow: -4px 4px black;" class="fancybox3">register one!</a>
            </div>
        </form>
    </div>
{% endblock %}