{% extends 'base.html' %}
{% block content %}
<div style="background: linen; border-top:double; width: 100%; font-family: 'Press Start 2P', serif; padding-left: 20px;">
<img src="{{ url_for('static', filename=("/profile_pics/" + current_user.username + ".png")) }}" alt="pfp" style="width:100px; height:100px;margin-top:20px; border-radius:180px;">
    <br><br>
     <span style="text-shadow: -2px 2px deepskyblue;">| {{ current_user.username }} |</span><br>
    <span style="text-shadow: -2px 2px turquoise;">| {{ current_user.full_name }} |</span><br>
    <span style="text-shadow: -2px 2px yellow;"> | Role: {{ current_user.role }} |</span><br>
    <span style="text-shadow: -2px 2px magenta;">| Date Joined:<br> | xx/xx/xxxx |</span><br>
    <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br><br>
<div style="font-size:9pt; text-align:center;">Changing information?<br>
    <a href="/change_info" id="hov" class="fancybox">Click Here!</a>
</div>
</div>
{% endblock %}