{% extends 'base.html' %}
{% block content %}
    <div style="text-align: center; background:linen; width: 100%; height: 100%; border-style: double;">
        <ul style="text-shadow: -2px 2px orange; width: 150px; margin-left: 596px;">
            <li id="hov" class="fancybox3" style="box-shadow:-3px 3px; transition: transform 1s;"><a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.youtube.com/watch%3Fv%3DmkXdvs8H7TA%26pp%3DygUOI3NvY2tldGlvcm9vbXM%253D&ved=2ahUKEwia7JLEksGLAxWFLkQIHTPsEksQwqsBegQIDhAF&usg=AOvVaw2orYdPgnxE6lN9Mc6PqrF5">Tech With Tim</a></li>
            <li id="hov" class="fancybox3" style="box-shadow:-3px 3px; transition: transform 1s;"><a href="https://flask.palletsprojects.com/en/stable/">Flask</a></li>
            <li id="hov" class="fancybox3" style="box-shadow:-3px 3px; transition: transform 1s;"><a href="https://flask-socketio.readthedocs.io/en/latest/">Flask-socketIO</a></li>
            <li id="hov" class="fancybox3" style="box-shadow:-3px 3px; transition: transform 1s;"><a href="https://www.youtube.com/watch?v=PWEl1ysbPAY&t=692s">Pretty Printed</a></li>
            <li id="hov" class="fancybox3" style="box-shadow:-3px 3px; transition: transform 1s;"><a href="https://htmx.org">HTMX</a></li>
            <li id="hov" class="fancybox3" style="box-shadow:-3px 3px; transition: transform 1s;"><a href="https://realpython.com/using-flask-login-for-user-management-with-flask/">Real Python</a></li>

        </ul>
    </div>
{% endblock %}