{% extends 'base.html' %}

{% block content %}
<div style="padding-top: 0; border-top:double; border-bottom: double; width:100%; height: 100%; background: linen; text-align: center; padding-left:533px; font-size: 10pt;">
    <form class="form2" method="POST" action="{{ url_for('register') }}" style="margin-top: 75px; margin-bottom: 75px; width:300px; text-align:left;">
        <span style="text-align:center;"><label style="text-shadow: -2px 2px lightseagreen; text-decoration: underline; font-size:14pt"><br>Register Account</label></span>
        <br><br>
        <label style="text-shadow:-2px 2px lightseagreen;">Username<input type="text" name="username" placeholder="username" required></label><br>
        <label style="text-shadow:-2px 2px lightseagreen;">Password<input type="password" name="password" placeholder="password" required></label><br>
        <label style="text-shadow:-2px 2px lightseagreen;">Email<input type="text" name="email" placeholder="email" required></label><br>
        <label style="text-shadow:-2px 2px lightseagreen;">Name<input type="text" name="full_name" placeholder="full name" required></label><br>
        <label style="text-shadow:-2px 2px lightseagreen;">Phone Number<input type="text" name="phone_number" placeholder="phone#: xxx-xxx-xxxx" required></label><br>
        <span style="text-align:center;"><input id="hov" style="transition: transform 1s; width:280px; margin:10px;" type="submit" value="Register Account"></span>
    </form>
</div>
{% endblock %}
