{% extends 'base.html' %}
{% block content %}
    <div style="border-style:double; background: linen; width:100%; height:100%;">
        <div>
            <ul><span style="font-family: 'Press Start 2P', serif; text-shadow: -2px 2px cornflowerblue">Wavelength Versions:</span><br>
                <li id="hov" class="fancybox3" style="transition: transform 1s; width: 9%;margin: 10px;box-shadow: -4px 4px black;"><a href="">ver. 1.1</a></li><br>
                <li id="hov" class="fancybox3" style="transition: transform 1s; width: 9%;margin: 10px;box-shadow: -4px 4px black;"><a href="">ver. 1.2</a></li><br>
                <li id="hov" class="fancybox3" style="transition: transform 1s; width: 9%;margin: 10px;box-shadow: -4px 4px black;"><a href="">ver. 1.3</a></li><br>
            </ul>
        </div>
    </div>
{% endblock %}